@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}

::-webkit-scrollbar {
  width: 0px;
}

::selection {
  background-color: #1f2937;
  color: white;
}

/* Image {
  user-select: none;
} */

input,
textarea,
button,
select,
a,
i,
li {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.pending {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid white;
  border-right: 2px solid transparent;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-file {
  height: calc(100vh - 372px);
}
